.flex{
  display: flex;
}
.teacher_list,
.teacher_add {
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}
.teacher_list{
  margin-right: 10px;
}
h3{
  text-align: center;
}
.teacher_list table {
  text-align: center;
  margin: 10px auto;
}
.teacher_list td {
  padding: 5px;
}
.delete_btn {
  background-color: #FFC4C4;;
  border-radius: 5px;
  padding: 5px 10px;
}
input:hover,
select:hover,
button:hover {
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

.teacher_add>form>div{
  margin: 10px 0;
}

.teacher_add select,
.teacher_add input {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.add_btn{
  text-align: end;
}
.add_btn button{
  height: 30px;
  width: 60px;
  background-color: #FEA82F;
  border-radius: 5px;
}
